body {
  background-color: #E2EBD1;
  font-family: system-ui, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 325px;
  justify-content: center;
  align-items: center;
}

.sqr {
  width: 30%;
  aspect-ratio: 1/1;
  border: 3px solid black;
  font-size: 64px;
  text-align: center;
}

button{
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  background-color: #1E4127;
  color: white;
}
